<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        body {
            background: skyblue;
            font-family: verdana;
            color: #fff;
            padding: 30px;
        }

        h1 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }
    </style>
    <title>My thing</title>
</head>
<body>

    <% include nav.ejs %>
    <h1>Contact Us!!</h1>
    <p>Contact Us To Satisfy All Your Needs!</p>

    <form id="contact-form" action="">
        <label for="who">Who do you want to contact?</label>
        <input type="text" name="who" value="<%= querryString.person %>">
        <label for="department">Which department?</label>
        <input type="text" name="department" value="<%= querryString.dept %>">
        <label for="email">Your Email</label>
        <input type="email" name="email">
        <input type="submit" value="submit">
    </form>
</body>
</html>